@font-face {
    font-family: "DM-Sans-Bold";
    src: url("../fints/dmsant/DMSans_18pt-Bold.ttf");
}
@font-face{
    font-family: "Mulish-Regular";
    src: url("../fints/mulish/Mulish-Regular.ttf");
}